html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.6;
  color: rgb(42, 45, 56);
  font-family: "Roboto Mono", monospace;
  background: #f9f9f9;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-family: "Roboto Mono", monospace;
  font-weight: 800;
  line-height: 1.1;
  letter-spacing: -1px;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 3rem;
}

@media (max-width: 480px) {
  h1 {
    font-size: 2.25rem;
  }
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 2rem;
}

.description {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  font-weight: 400;
}

/* Navigation */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.nav-bar {
  padding: 1rem 3rem 1rem 3rem;
}

@media (max-width: 768px) {
  .nav-bar {
    padding: 1rem 2rem;
  }
}

@media (max-width: 480px) {
  .nav-bar {
    padding: 1rem 1rem;
  }
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 47px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
}

.logo-name {
  font-family: "Roboto Mono", monospace;
  text-decoration: underline;
  color: #000;
  font-size: 1.125rem;
}

@media (min-width: 768px) {
  .logo-name {
    font-size: 1.5rem;
  }
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .nav-links {
    gap: 1.5rem;
  }
}

.nav-projects,
.nav-about,
.nav-resume {
  font-family: "Roboto Mono", monospace;
  color: #000;
  text-decoration: underline;
  font-size: 0.85rem;
}

@media (min-width: 768px) {
  .nav-projects,
  .nav-about,
  .nav-resume {
    font-size: 1rem;
  }
}

footer {
  display: flex;
  height: 30px;
  padding-left: 3rem;
  padding-right: 3rem;
  justify-content: end;
  align-items: center;
  gap: 64px;
  flex: 1 0 0;
}

@media (max-width: 768px) {
  footer {
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 32px;
  }
}

@media (max-width: 480px) {
  footer {
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 16px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1rem;
  }
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-bottom: 1rem;
}

.footer-text {
  font-size: 1.25rem;
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon-link {
  color: inherit;
  display: flex;
  text-decoration: none;
}

.icon-link:hover {
  opacity: 0.7;
}
