.intro {
  background-color: #f9f9f9;
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
}

.intro-container {
  width: 100%;
  max-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.intro-text-container {
  flex: 1;
  max-width: 600px;
}

.name-black {
  color: #2a2d38;
}

.name-color {
  color: #008000;
  display: inline-flex;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #008000;
  animation: typing 0.7s steps(8) forwards, blink 0.7s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 8ch;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #008000;
  }
}

.intro-img-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-img-container img {
  width: 80%;
  max-width: fit-content;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  aspect-ratio: 3 / 2;
}

@media (max-width: 850px) {
  .intro-container {
    flex-direction: column-reverse;
    text-align: center;
    gap: 2rem;
  }

  .intro-text-container {
    max-width: 100%;
  }

  .name {
    font-size: 2.5rem;
  }

  .intro-description {
    font-size: 1.1rem;
  }

  .intro-img-container img {
    max-width: 300px;
  }
}
