.projects-section {
  padding: 0 3rem;
}

.All-Projects {
  margin-left: 3rem;
  margin-right: 3rem;
}

.project-cards {
  width: 100%;
  max-width: 1600px;
}

.project-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  gap: 2rem;
}

.project-image-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.project-thumbnail {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

.project-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.project-title {
  font-family: monospace;
  font-size: 2rem;
  margin: 0;
}

.project-link-action {
  font-family: monospace;
  font-weight: 600;
  color: #008000;
  text-decoration: none;
  margin-top: 1rem;
}

.project-link-action:hover {
  text-decoration: underline;
}

@media (min-width: 992px) {
  .project-card-container {
    flex-direction: row;
    gap: 40px;
  }

  .project-card-container.flex-reverse {
    flex-direction: row-reverse;
  }

  .project-image-wrapper,
  .project-content {
    flex: 1;
  }

  .text-right {
    text-align: right;
  }

  .text-left {
    text-align: left;
  }

  .align-end {
    align-items: flex-end;
  }

  .align-start {
    align-items: flex-start;
  }
}
