html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.6;
  color: rgb(42, 45, 56);
  font-family: "Roboto Mono", monospace;
  background: #f9f9f9;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-family: "Roboto Mono", monospace;
  font-weight: 800;
  line-height: 1.1;
  letter-spacing: -1px;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 2rem;
}

.description {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  font-weight: 400;
}

/* Navigation */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.nav-bar {
  padding: 1.5rem 3rem 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 47px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
}

.logo-name {
  font-family: "Roboto Mono", monospace;
  text-decoration: underline;
  color: #000;
  font-size: 1.125rem;
}

@media (min-width: 768px) {
  .logo-name {
    font-size: 1.5rem;
  }
}

.nav-links {
  display: none;
  list-style: none;
}

@media (min-width: 768px) {
  .nav-links {
    display: flex;
    gap: 1.5rem;
  }
}

.nav-projects,
.nav-about,
.nav-resume {
  font-family: "Roboto Mono", monospace;
  color: #000;
  text-decoration: underline;
}

/* Introduction */
.intro {
  background-color: #f9f9f9;
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
}

.intro-container {
  width: 100%;
  max-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.intro-text-container {
  flex: 1;
  max-width: 600px;
}

.name-black {
  color: #2a2d38;
}

.name-color {
  color: #008000;
  display: inline-flex;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #008000;
  animation: typing 0.7s steps(8) forwards, blink 0.7s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 8ch;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #008000;
  }
}

.intro-img-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-img-container img {
  width: 80%;
  max-width: fit-content;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  aspect-ratio: 3 / 2;
}

@media (max-width: 850px) {
  .intro-container {
    flex-direction: column-reverse;
    text-align: center;
    gap: 2rem;
  }

  .intro-text-container {
    max-width: 100%;
  }

  .name {
    font-size: 2.5rem;
  }

  .intro-description {
    font-size: 1.1rem;
  }

  .intro-img-container img {
    max-width: 300px;
  }
}

/* Projects Section */
.projects-section {
  padding: 0 3rem;
}

.project-cards {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.project-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  gap: 2rem;
}

.project-image-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.project-thumbnail {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

.project-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.project-title {
  font-family: monospace;
  font-size: 2rem;
  margin: 0;
}

.project-link-action {
  font-family: monospace;
  font-weight: 600;
  color: #008000;
  text-decoration: none;
  margin-top: 1rem;
}

.project-link-action:hover {
  text-decoration: underline;
}

@media (min-width: 992px) {
  .project-card-container {
    flex-direction: row;
    gap: 40px;
  }

  .project-card-container.flex-reverse {
    flex-direction: row-reverse;
  }

  .project-image-wrapper,
  .project-content {
    flex: 1;
  }

  .text-right {
    text-align: right;
  }

  .text-left {
    text-align: left;
  }

  .align-end {
    align-items: flex-end;
  }

  .align-start {
    align-items: flex-start;
  }
}

footer {
  display: flex;
  height: 30px;
  padding-left: 3rem;
  padding-right: 3rem;
  justify-content: end;
  align-items: center;
  gap: 64px;
  flex: 1 0 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-bottom: 1rem;
}

.footer-text {
  font-size: 1.25rem;
}

.icon-container {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.icon-link {
  color: inherit;
  display: flex;
  text-decoration: none;
}

.icon-link:hover {
  opacity: 0.7;
}