body {
  line-height: 1.6;
  color: rgb(42, 45, 56);
  font-family: sans-serif;
  background: #f9f9f9;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 32px;
  align-items: baseline;
}

.logo-name {
  text-decoration: none;
  color: #2a2d38;
  font-family: sans-serif;
  font-size: 32px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: #2a2d38;
  font-weight: 300;
  transition: color 0.2s ease;
}

.home {
  background-color: #f9f9f9;
  padding: 32px;
}

.projects {
  background-color: #f9f9f9;
}
